# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
.env
.venv/

# Ignore Chroma and cache data
chroma_store/
*.parquet
*.sqlite3

# Ignore IDE settings
.vscode/
.idea/

# Ignore OS metadata files
.DS_Store
Thumbs.db
